.change-mail
  &__head
    font-weight bold
    font-size 15px
    &_mb_12
      margin-bottom 12px
  &__unsubscribe
    font-size: 12px
    u
      &:after
        bottom -1px
    &:link, &:visited
      color #006902
    &:hover, &:active
      color #e12519

    &_ml
      margin-left 7px

.l-change-mail__2
  padding 10px 0 10px 75px
  .btn_in-shadow
    padding 3px 18px



/*input style*/
.input-wrap
  &_mb
    margin-bottom 14px
.input-label
  font-size: 14px
  padding 0 9px 0 0
  cursor pointer
  &_pr_31
    padding-right 31px

.input
  outline none
  border none
  border-radius 6px
  padding 4px 10px
  box-shadow inset 0 2px 8px -3px #000
  &:focus
    box-shadow 0 0 4px 1px #006902, inset 0 2px 8px -3px #000
    outline none

  &_w_154
    width 154px



/*Track order*/
.track-order
  &__head
    font-size: 19px
    line-height 2
  &__text
    font-size 14px
    line-height 1.7
  &__add-text
    font-style italic
    margin-left 15px
.l-track-order__2-i
  padding 26px 0 27px 0
