.change-mail
  &__head
    font-weight bold
    font-size 15px
    &_mb_12
      margin-bottom 12px



/*input style*/

.input-label
  font-size: 14px
  padding 0 9px 0 0
  &_pr_31
    padding-right 31px

.input
  outline none
  border none
  border-radius 5px

  &_w_170
    width 170px