.item
  /*background: #FFFFFF*/
  &__img-wrap
    border 1px solid #f3f3f3
    text-align center
    &_b_none
      border none




  &__name-link
    border-bottom 2px solid #deead2
    text-decoration none
    padding-bottom 2px
    &:link, &:visited
      color #006902

    &:hover,&:active
      opacity .8
      border-bottom none

  &__rotator
    display block
    background url("../../../img/icon/rotator.gif")
    width 43px
    height 23px

  &__like-off
    text-decoration none
    display block
    .fa-heart
      display none
    .fa-heart-o
      font-size: 25px
      color #c41131
      opacity .4

    &:hover
      .fa-heart-o
        display none
      .fa-heart
        display inline-block
        font-size: 25px
        color #c41131

  &__like-on
    text-decoration none
    display block
    .fa-heart-o
      display none
    .fa-heart
      display inline-block
      font-size: 25px
      color #c41131

  &__img-link_bs
    img
      box-shadow 0 6px 55px -15px #000


    /*раскладка*/
.l-item__l, .l-item__c, .l-item__r, .l-item__c1
  display inline-block
  vertical-align middle

.l-item
  &__l
    .price__amount
      font-size: 16px
      font-weight: bold
      white-space pre
      line-height 0
    .fa-eur
      font-size: 15px
  &__3
    .l-item-i
      padding 2px 0 5px 0

  &__c
    margin-left 15px

  &__c1
    margin-left: 7px
    .price__amount
      font-size: 16px
      font-weight: bold
      white-space pre
      line-height 0
      color #e33228
    .fa-eur
      font-size: 15px