.item
  /*background: #FFFFFF*/
  &__img-wrap
    text-align center
    &_b_none
      border none
    img
      border 1px solid #f3f3f3
      position relative
      bottom -5px




  &__img-link
    text-decoration none
    &:link, &:visited
      color #006902

    &:hover,&:active
      color red
  &__name-link-wrap
    padding 5px 0 0
    text-align left
  &__name-link
    border-bottom 2px solid #deead2
    display inline-block



  &__rotator
    display block
    background url("../../../img/icon/rotator.gif")
    width 43px
    height 23px

  &__like-off
    text-decoration none
    display block
    .fa-heart
      display none
    .fa-heart-o
      font-size: 25px
      color #c41131
      opacity .4

    &:hover
      .fa-heart-o
        display none
      .fa-heart
        display inline-block
        font-size: 25px
        color #c41131
        opacity .5

  &__like-on
    text-decoration none
    display block
    height 26px
    .fa-heart-o
      display none
    .fa-heart
      display inline-block
      font-size: 24px
      color #c41131
      transition 0.2s ease-in-out
      &:hover
        font-size: 26px

  &__img-link_bs
    img
      box-shadow 0 6px 55px -15px #000
      filter unquote('progid:DXImageTransform.Microsoft.shadow(direction=150, color=#000000, strength=5)')



  /*Выплывающий блок выбора цвета*/
  &_choice
    position relative
    .color-choice
      position absolute
      top 30%
      left 0
      opacity .0
      display block
      z-index -1
      transition 0.5s ease 0.1s
      -webkit-transition  0.5s ease 0.1s
      -o-transition  0.5s ease 0.1s
      -moz-transition 0.5s ease 0.1s

      &__item
        width 30px
        padding-left 4px
        border-radius 10px 0 0 10px
        &:hover, &:active
          background-color #dcdde2
        &_active
          background-color #dcdde2
      &__link
        font-size 23px
        line-height 30px
        display block



        &_color-1
          color #fca61b
        &_color-2
          color #d04298
        &_color-3
          color #2fa0cc
        &_color-4
          color #5eb15f

    &:hover, &:active
      .color-choice
        display block
        opacity 1
        left -34px
        z-index 0







    /*раскладка изменения контента*/
.l-item__l, .l-item__c, .l-item__r, .l-item__c1
  display inline-block
  vertical-align middle

.l-item
  &__l
    .price__amount
      font-size: 16px
      font-weight: bold
      white-space pre
      line-height 0
    .fa-eur
      font-size: 15px
  &__2
    .l-item-i
      padding 0 0 5px 0

  &__c
    margin-left 15px

  &__c1
    margin-left: 7px
    .price__amount
      font-size: 16px
      font-weight: bold
      white-space pre
      line-height 0
      color #e33228
    .fa-eur
      font-size: 15px