.box

  &_bt
    border-top 15px solid #d8e4da
    border-top-left-radius 15px 15px


.box-i
  border-top-left-radius 15px 15px
  background-color #f4efe9
  border-bottom-right-radius 15px 15px
  box-shadow 0 30px 102px -53px #000
  &_offset
    border-top-left-radius 15px 15px
    background-color #f4efe9
    border-bottom-right-radius 15px 15px
    box-shadow 0 46px 106px -67px #000

.l-box-i
  position relative
  top -11px
  padding 23px 20px 17px 40px




.order

  &__close
    position relative
    &:before
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(254,253,251,0.8);
      content: "";
      z-index 1
    &:after
      content ""
      position absolute
      display block
      height 2px
      left 90px
      background-color #e3241c
      width 92.5%
      z-index 1

      transform-origin bottom left
      -webkit-transform-origin bottom left
      -o-transform-origin bottom left
      -moz-transform-origin bottom left
      -ms-transform-origin bottom left

      transform rotate(-14.4deg)
      -moz-transform rotate(-14.4deg)
      -ms-transform rotate(-14.4deg)
      -webkit-transform rotate(-14.4deg)
      -o-transform rotate(-14.4deg)


  &__name-link
    border-bottom 2px solid #deead2
    text-decoration none
    padding-bottom 2px
    &:link, &:visited
      color #006902

    &:hover,&:active
      opacity .8
      border-bottom none

    &_fs_18
      font-size: 18px

  &__text
    padding 2px 0 5px
    line-height 1.7

  &__measure
    font-size: 15px
    u
      &:after
        border-top 1px solid #006902
        bottom 0px

    &:link, &:visited
      color #006902
    &:hover, &:active
      color #e12519

  &__color-switch
    text-decoration none
    font-style italic
    position relative
    margin-left 27px
    &:before
      content ""
      position absolute
      width 12px
      height 12px
      background-color #0000fe
      border-radius 50%
      top 2px
      left -15px
      transition 0.2s ease-out
      -webkit-transition  0.2s ease-out
      -o-transition  0.2s ease-out
      -moz-transition 0.2s ease-out
    &:link, &:visited
      color #000000
    &:hover, &:active, &:focus
      opacity .9
      &:before
        width 14px
        height 14px
        top 1px
        left -17px



  &__like-off
    text-decoration none
    background url("../../../img/icon/like.svg") 100% 0 no-repeat
    background-size cover
    display block
    width 25px
    height 21px
    &:hover
      background-position 0 0
      opacity .5


  &__like-on
    text-decoration none
    background url("../../../img/icon/like.svg") 0 0 no-repeat
    background-size cover
    display block
    width 25px
    height 21px
    &:hover
      width 28px
      height 23px
      background-position 1% 0

  &__control-bar
    float left
    padding-right 71px
  &__img
    float right
    text-align center

  &__img-link
    display block

  &__rotator
    display inline-block
    width 35px
    height 19px
    background url("../../../img/icon/rotator.svg")
    -webkit-background-size: 35px 19px
    background-size: 35px 19px

  &__cross
    display block
    text-align center
    height 27px
    transition 0.2s ease-in-out
    -webkit-transition  0.2s ease-in-out
    -o-transition  0.2s ease-in-out
    -moz-transition 0.2s ease-in-out
    .fa-times
      font-size: 22px
      color #e22418
      transition 0.3s ease-in-out
      -webkit-transition  0.3s ease-in-out
      -o-transition  0.3s ease-in-out
      -moz-transition 0.3s ease-in-out
      &:link,&:visited,&:focus
        outline none
        color #e22418
      &:hover,&:active
        opacity .7

    &_mb_9
      margin-bottom 9px


  &__like-num
    display block
    background-color #96bf7b
    text-decoration none
    text-align center
    padding 2px 4px
    border-radius 5px
    transition 0.4s ease-out
    -webkit-transition  0.4s ease-out
    -o-transition  0.4s ease-out
    -moz-transition 0.4s ease-out
    &:link,&:visited,&:focus
      outline none
      color #ffffff
    &:hover,&:active
      opacity .8
      color #000000

    &_mb_15
      margin-bottom 15px

.m-order_price
  line-height: 0
  font-size: 35px
  .fa-usd
    font-size: 17px;
    position: relative;
    top: -10px;

.m-order_btn
  padding 10px 0 0 0
  .btn
    z-index 1


/*разметка*/
.l-order
  &__l
    display table-cell
    vertical-align bottom
  &__l-i
    clear fix
    padding 0 80px 0 0
    &_pl
      padding 0 80px 0 90px
      clear fix
  &__c
    display table-cell
    vertical-align bottom
  &__r
    display table-cell
    vertical-align bottom
  &__r-i
    padding 0 0 148px 23px
    &_price
      padding 0 0 102px 23px


/*submit order*/
.submit-order
  &__text
    font-size:13px
    font-weight bold
    line-height 1.4
  &__l
    float left
  &__l-i
    padding 5px 0 0 34px
  &__r
    margin-left  200px
  &__r-i
    padding 0 50px 0 0
.submit-order-i
  background-color #f4efe9
  border-radius 15px
  clear fix
  padding 25px 0 21px


