.box

  &_bt
    border-top 15px solid #d8e4da
    border-top-left-radius 20px 20px


.box-i
  border-top-left-radius 20px 20px
  background-color #f4efe9
.l-box-i
  position relative
  top -11px
  padding 23px 20px 17px 38px



.order

  &__name-link
    border-bottom 2px solid #deead2
    text-decoration none
    padding-bottom 2px
    &:link, &:visited
      color #006902

    &:hover,&:active
      opacity .8
      border-bottom none

    &_fs_18
      font-size: 18px
