.sign-in
  clear fix
  &__head
    font-weight bold
    font-size 15px
    &_mb_12
      margin-bottom 12px
  &__new
    font-size: 12px
    u
      &:after
        bottom 0px
    &:link, &:visited
      color #006902
    &:hover, &:active
      color #e12519

    &_ml
      margin-left 10px
  &__reset-pass
    font-size: 12px
    u
      &:after
        bottom 0px
    &:link, &:visited
      color #006902
    &:hover, &:active
      color #e12519
    &_ml
      margin-left 10px
  &_theme-grey
    border-bottom-left-radius 7px 7px
    border-top-left-radius 7px 7px
    background-color #f5f5f5
    border-right 3px solid #e8e8e8

.m-input_eye
  position relative
  .input_eye-icon
    position absolute
    outline none
    width 19px
    height 9px
    right 109px
    top 8px
    background url("../../../img/icon/eye.png")
    &:hover
      opacity .6

.l-sign-in
  &__l
    float left
  &__r
    float right
  &__2
    padding 10px 0 10px 75px
  &__l-i
    padding 14px 20px 5px 40px
  &__r-i
    padding 35px 0 10px 0




    /*popup-sign*/



.popup_sign-i
  border 3px solid #aec99e
  border-top-right-radius 15px 20px
  border-bottom-left-radius 20px 15px
  background-color #ffffff
  position relative
  &__close
    position absolute
    right 14px
    top 5px
    .fa-times
      color #df2317
      font-size: 14px

/*Временная ссылка для разметки!!!!!!!    Поставить картинку Facebook!!!!!*/
.facebook-img
  display block
  padding 25px 12px 28px