.summary

  &__head
    background: #9fcc93; /* Old browsers */
    background: -moz-linear-gradient(top,  #9fcc93 0%, #86bb77 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcc93), color-stop(100%,#86bb77)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9fcc93 0%,#86bb77 100%); /* W3C */

    height 36px
    color #ffffff
    border-top-left-radius 15px 15px
    -webkit-border-top-left-radius 15px 15px
    text-indent 17px

.l-summary__2
  position relative
  top -9px
.l-summary__2-i
  background #fbf7ee
  border-top-left-radius 15px 15px
  -webkit-border-top-left-radius 15px 15px
  padding 26px 10px 22px 18px



/* price общий + модификации */
.price
  &__amount
    font-size: 45px
    line-height 40px
    
    .fa-usd
      font-size: 24px
      position relative
      top -11px

  &__around
    color #676566
    font-size: 11px
    padding-left 18px
    white-space pre

