.summary

  &__head
    background: -moz-linear-gradient(top,  #9fcc93 0%, #86bb77 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcc93), color-stop(100%,#86bb77)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9fcc93 0%,#86bb77 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9fcc93 0%,#86bb77 100%); /* W3C */
    filter 'progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr=#9fcc93, EndColorstr=#86bb77)' % (color1 color2)

    height 36px
    color #ffffff
    border-top-left-radius 15px 15px
    -webkit-border-top-left-radius 15px 15px
    text-indent 17px
    line-height: 28px

.summary-i
  background #fbf7ee
  border-top-left-radius 15px 15px
  -webkit-border-top-left-radius 15px 15px
  padding 26px 10px 22px 18px
  position relative
  top -9px






/* price общий + модификации */
.price
  clear fix
  &__amount
    font-size: 45px
    line-height 40px
    
    .fa-usd
      font-size: 24px
      position relative
      top -11px

  &__around
    color #676566
    font-size: 11px
    padding-left 18px
    white-space pre

  &__like-icon
    display inline-block
    width 34px
    height 28px
    background url("../../../img/icon/like.png") 100% 0
    position relative
    top 7px
    left -3px
    &:hover
      background-position -1% 0


.l-price__l
  float left
  width 50%

.l-price__r
  float right
  width 50%
  text-align center


 /*price end*/


.l-summary__3-i
  padding 7px 0 11px 16px
.option-list
  clear fix
  margin-left -6px

  &__item
    float left
    
  &__link
    font-size: 15px
    padding 6px 6px 5px
    border-radius 5px 5px

    u
      &:after
        border-top-color #bbd1a3
        bottom 1px

    &:link, &:visited
      color #000000
    &:hover, &:active
      background #ece8df
      box-shadow inset 0 1px 7px -3px
      u
        &:after
          border-top none

  &__arrow
    display inline-block
    vertical-align middle

  &__info
    display inline-block
    vertical-align middle
    font-size: 15px
    &_fw
      font-weight bold

  &__arrow-up
    display block
    background url("../../../img/icon/arrow-up-crystal.png")
    width 12px
    height 10px

    &:hover
      opacity .6

  &__arrow-down
    display block
    background url("../../../img/icon/arrow-down-crystal.png")
    width 12px
    height 10px

    &:hover
      opacity .6


.l-summary__4-i
  padding 14px 0 10px 3px