    /****Разметка****/

.total
  &__2
    clear fix
    &_mt_23
      margin-top 23px
  &__3
    clear fix
  &__4
    clear fix
  &__5
    clear fix
  &__l
    float left
  &__r
    float right
    &_mr_70
      margin-right 70px
    &_w_78
      width 78%
    &_mr_280
      margin-right 280px
  &__6-i
    padding 0 0 0 85px
  &__img-link
    float left
